.Python
.cache
*.egg
.installed.cfg
*.egg-info/
# PyBuilder
# Django stuff:
*.pot
__pycache__/
build/
.gitignore
coverage.xml
# Translations
sdist/
eggs/
.pydevproject
# Distribution / packaging
env/
target/
downloads/
pip-delete-this-directory.txt
develop-eggs/
.tox/
*.mo
*.manifest
lib64/
# Unit test / coverage reports
var/
htmlcov/
*.spec
# Sphinx documentation
# C extensions
*.log
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.py[cod]
# Byte-compiled / optimized / DLL files
docs/_build/
.coverage
pip-log.txt
#  Usually these files are written by a python script from a template
parts/
nosetests.xml
lib/
# PyInstaller
/otros
*.so
otros/dbdofast_view.xml
dist/
.project
# Installer logs
sftp-config.json